---
url: http://gist.github.com/jonschlinkert/5193239
text: helpers.js
links:
  - one
  - two
  - three

moreLinks:
  -
    url: one
    text: two
  -
    url: three
    text: four
  -
    url: five
    text: size
---
{{#markdown}}

## ul
{{#ul page.links class="nav"}}
  {{.}}
{{/ul}}

{{#ul page.moreLinks class="nav"}}
  <a href="{{url}}">{{text}}</a>
{{/ul}}

## ol
{{#ol page.links class="nav"}}
  {{.}}
{{/ol}}

{{#ol page.moreLinks class="nav"}}
  <a href="{{url}}">{{text}}</a>
{{/ol}}




## link
{{link page.url page.text}}
{{link 'http://github.com' 'GitHub'}}
{{link 'http://github.com' 'GitHub' 'nav-link'}}



## gist
{{gist '5193239'}}


## debug
{{!debug text}}






{{/markdown}}
